/** {
  border: thin solid red;
}*/

/*font*/
@font-face {
    font-family: 'acre-medium';
    src: url('acre-medium-webfont.woff2') format('woff2'),
         url('acre-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*general setup*/
body {
  background: linear-gradient(#ffffff, #000000);
  font-family: 'acre-medium', Arial, sans-serif;
  color: #000000;
  line-height: 20px;
}

i {
  font-size: 40px;
}

h1 {
  text-align: center;
  color: #3f4045;
  /*make background same to gradient color*/
}

h2 {
  text-align: center;
  font-size: 24px;
}

p {
  text-align: center;
  font-size: 16px;

}
a {
  color: #3f4045;
  text-decoration: none;
}

a:hover {
  color: #000000;
}

table {
  width: 100%;
}

thead {
  line-height: 20px;
  padding: 10px;
  background-color: #3f4045;
  color: #ffffff;
  border-collapse: collapse;
}

/*Media*/

@media (max-width: 960px) {
  /* For a screen < 960px, this CSS will be read */
  .container {
  padding-top: 30px;
  width: 75%;
  margin: 30px auto;
}

.container-title {
  width: 74%;
  margin: 0px auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-title h1 {
  font-size: 24px;
}
}

@media (max-width: 720px) {
  /* For a screen < 720px, this CSS will be read */
  .container {
  padding-top: 30px;
  width: 50%;
  margin: 30px auto;
}

.container-title {
  width: 49%;
  margin: 0px auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-title h1 {
  font-size: 20px;
}
}

@media (max-width: 540px) {
  /* For a screen < 540px, this CSS will be read */
  .container {
  padding-top: 30px;
  width: 40%;
  margin: 30px auto;
}

.container-title {
  width: 39%;
  margin: 0px auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-title h1 {
  font-size: 16px;
}
}

@media (min-width: 960px) {

.container {
  padding-top: 30px;
  width: 90%;
  margin: 30px auto;
}

.container-title {
  width: 89%;
  margin: 0px auto;
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container-title h1 {
  font-size: 28px;
}
}

/*Container and Divs*/

.container-title h1 {
  line-height: 20px;
  padding: 10px;
  background-color: #ffffff;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.card-collection {
  background: #ffffff;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.circle-frame {
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
}

.img-circle {
  border-radius: 50%;
}

.square-frame {
  width: 60%;
  height: 60%;
  overflow: hidden;
  margin: 0 auto;
  margin-top: 20px;
}

.img-sizing {
  width: 100%;
  height: auto;
}

.card-collection ul{
  padding: 0;
}

.card-collection li{
  display:inline-block;
  padding: 10px;
  width: 114px;
  border: solid 0px;
  margin: 0;
}

.card-table {
  background: #ffffff;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.2);
}

.card-table th{
  font-size: 28px;
  padding: 10px;
  text-align: center;
}


.card-table p{
  font-size: 15px;
  line-height: 20px;
  text-align: justify;
}

.table-left {
  width: 30%;
}

.card-table-head {
  font-size: 40px;
}

